In [1]:
# Proyecto inicial Retail Fashion
# preprocesamiento.py

import os
import pandas as pd

# Cargar datos y procesar CSV de Kaggle
df = pd.read_csv(
    "C:/Users/kiera/OneDrive/Documents/Data Scientist Bootcamp/Retail Fashion env/fashion_retail_sales.csv")

os.makedirs("data/processed", exist_ok=True)
df.to_csv("data/processed/fashion_retail_clean.csv", index=False)

# Revisar estructura
print(df.info())

# 2. Estandarizar nombres de columnas
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3400 entries, 0 to 3399
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Customer Reference ID  3400 non-null   int64
 1   Item Purchased         3400 non-null   object
 2   Purchase Amount (USD)  2750 non-null   float64
 3   Date Purchase          3400 non-null   object
 4   Review Rating          3076 non-null   float64
 5   Payment Method         3400 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 159.5+ KB
None

In [2]:
# 3. Verificar estructura
print("\n Dimensiones:", df.shape)
print("\n Primeras filas:\n", df.head())

# 4. Revisar duplicados
print("\n Duplicados:", df.duplicated().sum())
df = df.drop_duplicates()

# 5. Revisar valores nulos
print("\n Valores nulos:\n", df.isnull().sum())

 Dimensiones: (3400, 6)

 Primeras filas:
    customer_reference_id item_purchased  purchase_amount_(usd) date_purchase  \
0                   4018        Handbag                 4619.0    05-02-2023
1                   4115          Tunic                 2456.0    11-07-2023
2                   4019       Tank Top                 2102.0    23-03-2023
3                   4097       Leggings                 3126.0    15-03-2023
4                   3997         Wallet                 3003.0    27-11-2022

   review_rating payment_method
0            NaN    Credit Card
1            2.0    Credit Card
2            4.1           Cash
3            3.2           Cash
4            4.7           Cash

 Duplicados: 0

 Valores nulos:
 customer_reference_id      0
item_purchased             0
purchase_amount_(usd)    650
date_purchase              0
review_rating            324
payment_method             0
dtype: int64

In [3]:
# 6. Convertir columnas
df['purchase_amount_(usd)'] = pd.to_numeric(
    df['purchase_amount_(usd)'], errors='coerce')
df['review_rating'] = pd.to_numeric(df['review_rating'], errors='coerce')
df['date_purchase'] = pd.to_datetime(
    df['date_purchase'], format="%d-%m-%Y", errors='coerce')

# 7. Rellenar nulos con la media
df['purchase_amount_(usd)'].fillna(
    df['purchase_amount_(usd)'].mean(), inplace=True)
df['review_rating'].fillna(df['review_rating'].mean(), inplace=True)

print("\n Valores nulos después del procesamiento:\n", df.isnull().sum())

 Valores nulos después del procesamiento:
 customer_reference_id    0
item_purchased           0
purchase_amount_(usd)    0
date_purchase            0
review_rating            0
payment_method           0
dtype: int64

C:\Users\kiera\AppData\Local\Temp\ipykernel_109644\1464101878.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['purchase_amount_(usd)'].fillna(
C:\Users\kiera\AppData\Local\Temp\ipykernel_109644\1464101878.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['review_rating'].fillna(df['review_rating'].mean(), inplace=True)